.wrapper {
  display: grid;
  background: no-repeat url('./assets/background.png');
  background-size: contain;

  grid-gap: 10px;
  grid-template-columns: repeat(12, 75px);
  grid-template-rows: repeat( 8, 75px);
  background-color: #fff;
  color: #444;
}
body {
  margin: 0;
  padding: 0;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gordon {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  align-self: stretch;

  background: white;
  background-size: cover;
  background-image: url('./assets/gordon.png');
  &.mad1 {
    background-image: url('./assets/gordon_talk.gif');
  }
  &.mad2 {
    background-image: url('./assets/gordon_angry_talk.gif');
  }
  &.mad3 {
    background-image: url('./assets/gordon_realmad_talk.gif');
  }
}
#trash {
  grid-column: 12/12;
  grid-row: 8/8;
  background: red;
  align-self: stretch;
}
#grill {
  grid-column: 9/11;
  grid-row: 1/3;
  transition: background 2s ease-in;
}
#grill.on {
  background: rgba(255, 0, 0, 0.5);
}
.item {
  background-size: cover !important;
}
.steak {
  background: url('./assets/steak.png');
  transform: contrast(2);
}